<div id="sign-in-modal">
    <div class="container">
        <form [formGroup]="formGroup" class="form" novalidate>
            <div class="content-line">
                <span class="content-title">WELCOME BACK!</span>
            </div>

            <div class="content-line">
                <div class="option-image mail-image" aria-label="Email"></div>
                <mat-form-field appearance="fill" class="form-element">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="Email" spellcheck="false">
                    <mat-error *ngIf="!formGroup.controls['Email'].valid && formGroup.controls['Email'].touched">
                        Required field.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="content-line">
                <div class="option-image password-image" aria-label="Password"></div>
                <mat-form-field appearance="fill" class="form-element">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="Password"
                           spellcheck="false">
                    <mat-error *ngIf="!formGroup.controls['Password'].valid && formGroup.controls['Password'].touched">
                        Required field.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="content-line">
                <button mat-raised-button color="primary" type="submit" class="center-button" id="btn-sign-in"
                        (click)="onSubmit(formGroup.value)"
                        [disabled]="!formGroup.valid">GET STARTED
                </button>
            </div>
            <div class="content-line-flex-reverse">
                <button mat-button color="accent" type="button" id="btn-forget-password"
                        routerLink='/auth/resetpassword'>
                    Forgot Pasword?
                </button>
            </div>
            <div class="content-line-flex">
                <button mat-button routerLink='/auth/joinin' type="button" class="left-button" id="btn-join-in">CREATE ACCOUNT</button>
                <button mat-button routerLink='/hept' type="button" class="right-button" id="btn-need-help">NEED HELP?</button>
            </div>

        </form>
    </div>
</div>