[req]
default_bits       = 2048
prompt             = no
default_alg        = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[req_distinguished_name]
CN = hyperdrive-gateway-service

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = hyperdrive-gateway-service
DNS.3 = hyperdrive-identity-service
DNS.4 = hyperdrive-storage-service
DNS.5 = postgres
IP.1  = 127.0.0.1