<div class="security-menu">
    <ul>
        <li>
            <a class="text-dark" (click) = "ChangeEmail()">
                <div class="security-menu-option-image security-menu-email-change-image"></div>
                <span class="security-option-link">Change Email</span>
            </a>
        </li>
        <li>
            <a class="text-dark" (click) = "ChangePassword()">
                <div class="security-menu-option-image security-menu-password-change-image"></div>
                <span class="security-option-link">Change Password</span>
            </a>
        </li>
    </ul>
</div>