.sheet-button {
  padding: 8px;
  margin: 8px;
}

.sheet-option-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  float: left;
  margin-right: 8px;
}

.application-user-management-image {
    background-image: url('src/assets/img/iconos/User_500px.png');
    background-size: cover;
}

.application-role-management-image {
    background-image: url('src/assets/img/iconos/Role_500px.png');
    background-size: cover;
}

.security-image {
    background-image: url('src/assets/img/iconos/Security_500px.png');
    background-size: cover;
}

.cloud-image {
    background-image: url('src/assets/img/iconos/Cloud_500px.png');
    background-size: cover;
}