@if (loading) {
<div class="spinner-container">
    <div class="spinner"></div>
</div>
}

<div class="grid-page">
    <h4 class="breadcrumb">My Files</h4>

    <button mat-raised-button [matMenuTriggerFor]="menu" color="primary" class="add-button"><span>Add New
            &plus;</span></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="NewFolder()">New Folder</button>
        <button mat-menu-item (click)="NewFile()">Upload File</button>
    </mat-menu>

    <mat-form-field class="grid-filter">
        <input matInput (keyup)="ApplyMyFilter($event.target)" placeholder="Filter">
    </mat-form-field>

    <div class="grid-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Id Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
            </ng-container>

            <!-- Folder Column -->
            <ng-container matColumnDef="Folder">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Folder </th>
                <td mat-cell *matCellDef="let row"> {{row.Folder}} </td>
            </ng-container>

            <!-- SharedWith Column -->
            <ng-container matColumnDef="SharedWith">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SharedWith </th>
                <td mat-cell *matCellDef="let row">
                    <mat-chip-listbox>
                        @for (user of row.SharedWith; track user) {
                        <mat-chip>{{user.Name}}</mat-chip>
                        }
                    </mat-chip-listbox>
                </td>
            </ng-container>

            <!-- LastModified Column -->
            <ng-container matColumnDef="LastModified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LastModified </th>
                <td mat-cell *matCellDef="let row"> {{row.LastModified | date: 'MMM d, y'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="ToRecord(row)"
                (contextmenu)="ToContext(row)">
            </tr>
        </table>
    </div>
</div>