.grid-container {
    max-height: 450px;
    overflow: auto;
    cursor: pointer;

    &.dragging {
        border: 3px solid #3f51b5;
    }

    &:focus-within {
        border: 3px solid #3f51b5;
    }
}

table {
    width: 100%;
    overflow: auto;
    max-height: 450px;
}

th {
    z-index: unset !important;
}

.grid-page {
    margin: 8px;
}

.grid-filter {
    width: 400px;
}

.add-button {
    float: right;
    z-index: 0;
}

.breadcrumb {
    color: #3f51b5 !important;
    width: fit-content !important;
}

@media screen and (max-width: 960px) {
    .add-button {
        margin-bottom: 16px;
    }

    .mat-mdc-header-row {
        display: none;
    }

    .mat-mdc-cell {
        width: 100%;
        float: left;
        border-style: none;
        padding: 8px;
    }

    .mat-mdc-table .mat-mdc-row {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, .12);
    }
}