.home-menu *{
color:#FFFFFF !important;
}

.home-menu ul{
list-style: none;
}

.home-menu li{
background-color: #3f51b5 !important;
overflow: hidden;
margin:4% !important;  
float: left;
width: 300px;
}

.home-menu li a{
margin:4% !important;  
display: flex;

}

.home-option-link{
float: left;
margin-top: 40px;
margin-left: 40px;
}

.home-menu-option-image{
height: 120px;
width: 120px;
border-radius: 50%;
flex-shrink: 0;
object-fit: cover;
float:left;    
}

.home-menu-management-image{
background-image: url('/assets/img/iconos/Management_500px.png');
background-size: cover;
}  

.home-menu-security-image{
background-image: url('/assets/img/iconos/Security_500px.png');
background-size: cover;
}  