<div id="changeemail-modal" class="container" novalidate>
  <form [formGroup]="formGroup" class="form">
    <div class="modal-content-line">
      <div class="modal-option-image modal-mail-change-image" aria-label="NewEmail"></div>
      <mat-form-field class="form-element">
        <mat-label>NewEmail</mat-label>
        <input type="email" matInput placeholder="NewEmail" formControlName="NewEmail" spellcheck="false">
        <mat-error *ngIf="!formGroup.controls['NewEmail'].valid && formGroup.controls['NewEmail'].touched">
          Required field.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" (click)="onSubmit(formGroup.value)"
        [disabled]="!formGroup.valid">Save
      </button>
    </div>
  </form>
</div>