.container {
  margin: auto;
  width: 50vw;
}

.content-title {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 24px !important;
}

.content-line {
  padding: 8px;
  flex-direction: row;
}

.content-line-flex {
  padding: 8px;
  flex-direction: row;
  display: flex;
}

.content-line-flex-reverse {
  padding: 8px;
  flex-direction: row-reverse;
  display: flex;
}

.form-element {
  display: flex;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.left-button {
  flex-grow: 1;
}

.right-button {
  flex-grow: 1;
}

.option-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  float: left;
  margin-right: 8px;
}

.mail-image {
  background-image: url('/assets/img/iconos/Envelope_500px.png');
  background-size: cover;
}

.password-image {
  background-image: url('/assets/img/iconos/Password_500px.png');
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .container {
    margin: unset;
    width: unset;
  }
}