version: "3.9"

networks:
  monitoring:
    driver: bridge

services:
  db:
    container_name: db
    image: postgres
    restart: always
    user: postgres
    env_file:
      - path: .env
        required: true
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 1s
      timeout: 5s
      retries: 10
    volumes:
      - db-data:/etc/data
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - monitoring   

  service:
    container_name: service
    image: ${DOCKER_REGISTRY-}hyperdriveservice
    build:
      context: .
      dockerfile: Hyperdrive.Service/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ASPNETCORE_HTTP_PORTS: ${ASPNETCORE_HTTP_PORTS}
      ASPNETCORE_HTTPS_PORTS: ${ASPNETCORE_HTTPS_PORTS}
      OTEL_EXPORTER_OTLP_ENDPOINT: ${OTEL_EXPORTER_OTLP_ENDPOINT}
      APPLICATIONINSIGHTS_CONNECTION_STRING: ${APPLICATIONINSIGHTS_CONNECTION_STRING}
      ConnectionStrings__DefaultConnection: ${DB_CONNECTION}
      Jwt__JwtAudiences: ${JWT_AUDIENCES}
      Jwt__JwtExpireMinutes: ${JWT_EXPIRE_MINUTES}
      Jwt__JwtExpireDays: ${JWT_EXPIRE_DAYS}
      Jwt__JwtAuthority: ${JWT_AUTHORITY}
      Jwt__JwtIssuer: ${JWT_ISSUER}
      Jwt__JwtKey: ${JWT_KEY}
      RateLimit__PolicyName: ${RATELIMIT_POLICYNAME}
      RateLimit__PermitLimit: ${RATELIMIT_PERMITLIMIT}
      RateLimit__QueueProcessingOrder: ${RATELIMIT_QUEUEPROCESSINGORDER}
      RateLimit__QueueLimit: ${RATELIMIT_QUEUELIMIT}
    ports:
      - "${ASPNETCORE_HTTP_PORTS}:8080"
      - "${ASPNETCORE_HTTPS_PORTS}:8081"
    networks:
      - monitoring      
    depends_on:
      - db

  prometheus:
    image: prom/prometheus:main
    container_name: prometheus
    ports:
      - "${PROMETHEUS_PORT}:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prom-data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/etc/prometheus/console_libraries
      - --web.console.templates=/etc/prometheus/consoles
      - --web.enable-lifecycle
      - --web.enable-otlp-receiver   
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    ports:
      - "${GRAFANA_PORT}:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - monitoring

volumes:
  db-data:
  prom-data:
