<div id="change-name-modal" class="container">
  <form [formGroup]="formGroup" class="form" novalidate>

    <div class="modal-content-line">
      <div class="modal-option-image modal-name-image" aria-label="Name"></div>
      <mat-form-field class="form-element">
        <mat-label>NewFirstName</mat-label>
        <input matInput placeholder="NewFirstName" formControlName="NewFirstName">
        @if (!formGroup.controls['NewFirstName'].valid && formGroup.controls['NewFirstName'].touched) {
          <mat-error>
            Required field.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="modal-content-line">
      <div class="modal-option-image modal-surname-image" aria-label="NewLastName"></div>
      <mat-form-field class="form-element">
        <mat-label>NewLastName</mat-label>
        <input matInput placeholder="NewLastName" formControlName="NewLastName">
        @if (!formGroup.controls['NewLastName'].valid && formGroup.controls['NewLastName'].touched) {
          <mat-error>
            Required field.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button form-button"
        (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid" matTooltip="Save">Save
      </button>
    </div>

  </form>
</div>