<mat-list>
    <mat-list-item>{{data.FileName}}</mat-list-item>
    <mat-divider></mat-divider>
    @if (data.Downloadeable) {
    <mat-list-item (click)="Share()"><button mat-button type="button">Share</button></mat-list-item>
    }
    <mat-divider></mat-divider>
    @if (data.Downloadeable) {
    <mat-list-item (click)="Download()"><button mat-button type="button">Download</button></mat-list-item>
    }
    <mat-list-item (click)="Rename()"><button mat-button type="button">Rename</button></mat-list-item>
    <mat-list-item (click)="Activity()"><button mat-button type="button">Activity</button></mat-list-item>
    <mat-list-item (click)="Remove()"><button mat-button type="button">Remove</button></mat-list-item>
</mat-list>