p {
    text-align: center;
    margin: auto;
}

.container {
    padding: 24px;
}

.profile-content-cell {
    float: left;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.profile-content-cell-start {
    float: inline-start;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.profile-content-cell-end {
    float: inline-end;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.profile-content-line {
    clear: both;
    padding: 8px;
}

.profile-initial-image {
    height: 140px;
    width: 140px;
    background-color: #F08080;
    background-size: cover;
    font-weight: bolder;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    color: #FFFFFF;
    position: relative;
}

.profile-initial-image span {
    top: 25%;
    font-size: 48px !important;
    position: absolute;
}