<div class="container">

    <div class="profile-content-line">
        <p>{{User?.Email}}</p>
    </div>

    <div class="profile-content-line ">
        <p class="profile-initial-image"><span>{{User?.Initial}}</span></p>
    </div>

    <div class="profile-content-line">
        <p><strong>¡Hola {{User?.FirstName}}!</strong></p>
    </div>

    <div class="profile-content-line">
        <button mat-raised-button color="primary" type="button" class="profile-content-cell profile-content-cell-start"
            (click)="Security()">Security
        </button>
        <button mat-raised-button color="primary" type="button" class="profile-content-cell profile-content-cell-end"
            (click)="SignOut()">Sign Out
        </button>
    </div>
</div>